* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font: 16px 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #2b9cff;
	text-decoration: none;
}

a:hover {
	color: #0f6ab9;
}

h2 {
	margin: 1.5em auto;
}

h3 {
	margin-top: 1em;
	font-size: 18px;
}

header {
	border-bottom: 1px solid #CCC;
	padding: 10px 2em;
	box-shadow: 0 0 40px rgba(0, 0, 0, .1);
	font-size: 12px;
}

header .logo {
	max-height: 28px;
	margin-right: .5em;
}

header .subtitle,
header nav {
	line-height: 30px;
}

header .subtitle {
	font-weight: bold;
	vertical-align: top;
	display: inline;
}

header nav {
	float: right;
}

header nav > a,
header nav > span {
	margin-left: 1em;
}

.notif-badge {
	background: #f00;
	color: #FFF;
	padding: 1px 6px;
	font-weight: bold;
	border-radius: 50%;
}

main {
	padding: 2em;
	margin-left: 20%;
}

body > nav {
	float: left;
	padding: 2em;
	margin-top: 50px;
	font-size: 14px;
	line-height: 2em;
}

ul li,
ol li {
	list-style: none;
	margin-left: 2em;
}

h1 {
	font-size: 38px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	margin-bottom: 1em;
}

p {
	margin: 0 0 1.5em;
	font-size: 14px;
	max-width: 700px;
}

.text-center { text-align: center; }
.text-right  { text-align: right; }
.wrap { word-break: break-word; }

form {
	font-size: 14px;
	margin: 50px 0;
	max-width: 650px;
}

input[type=text],
input[type=email],
input[type=password],
button,
textarea {
	font-size: 14px;
	padding: 10px;
	width: 100%;
	max-width: 350px;
	border: 1px solid #CCC;
}

textarea {
	max-width: 500px;
}

.code {
	font-family: Menlo, Monaco, monospace;
}

button {
	width: auto;
	border: none;
	background: #000;
	cursor: pointer;
	color: #FFF;
	font-size: 16px;
	padding: 10px 40px;
	max-width: 250px;
}

button:hover {
	background: #444;
}

button[disabled] {
	background: #555 !important;
	cursor: default !important;
}

button.goback {
	background: #888;
	padding-left: 15px;
	padding-right: 15px;
}

button.goback:hover {
	background: #AAA;
}

button.wide {
	width: 100%;
}

table.form,
table.form td,
table.form {
	border: none;
}

form td.field {
	padding: 8px 1px 2em 1px;
	border-top: 2px solid #000;
}

form h2 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 1.5em;
	margin-top: 0;
}

form p {
	font-size: 12px;
}

form.fullpage {
	text-align: center;
	margin: 6% auto;
	width: 100%;
	max-width: 350px;
	font-size: 16px;
}

form.fullpage .logo-container {
	text-align: center;
	margin-bottom: 35px;
	font-size: 12px;
	letter-spacing: 2px;
}

form.fullpage .logo {
	width: 100%;
	max-width: 180px;
}

form.fullpage h1 {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5px;
}

form.fullpage .alt-link {
	color: #a5a5a5;
	margin-bottom: 45px;
}

form.fullpage input,
form.fullpage button {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 18px;
	max-width: none;
}

form.fullpage input[type=text],
form.fullpage input[type=email],
form.fullpage input[type=password] {
	border: 1px solid #999;
	margin-bottom: 15px;
}

form.fullpage input[type=submit],
form.fullpage button {
	background-color: #0294C5;
	border: none;
	color: #FFF;
	padding: 15px;
	cursor: pointer;
	margin-bottom: 5px;
}

form.fullpage input[type=submit]:hover,
form.fullpage button:hover {
	background-color: #2287a9;
}

#reset-password-step2 {
	display: none;
}

table {
	border-collapse: collapse;
	margin: 1em 0 2em;
	font-size: 14px;
}

table th,
table td {
	border: 1px solid #CCC;
	padding: 10px;
	vertical-align: middle;
}

table th {
	text-align: left;
	background: #EAEAEA;
}


table.data-table {
	width: auto;
	border: 1px solid #CCC;
	border-collapse: collapse;
}

table.data-table th,
table.data-table td {
	padding: 10px;
	border: none;
	border-bottom: 1px solid #CCC;
	text-align: left;
}

.row-selectable td {
	cursor: pointer;
}

.row-selectable tr:hover td {
	background: #FFFFDD;
}


code.block,
pre > code {
	background: #F0F0F0;
	display: block;
	padding: 8px;
	margin: 1em 0;
	overflow: auto;
	white-space: pre-wrap;
}

.notification {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.notif-level0 .notif-headline { color: #000; }
.notif-level1 .notif-headline { color: green; }
.notif-level2 .notif-headline { color: orange; }
.notif-level3 .notif-headline { color: #dd0000; }


.notif-main,
.notif-dismiss {
	border: 2px solid #AAA;
}

.notif-main {
	display: flex;
	flex-grow: 1;
	cursor: pointer;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-left: none;
}

.notification:hover .notif-dismiss,
.notification:hover .notif-main {
	border-color: #555;
}

.notification.no-expand .notif-main {
	cursor: inherit;
}

.notif-main:hover .notif-expand {
	color: #000;
	background: #DDD;
}

.notif-ack .notif-main,
.notif-ack .notif-dismiss {
	border-width: 1px;
}

.notif-ack .notif-headline {
	font-weight: normal;
}

.notif-ack .notif-expand {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

.notif-info {
	padding: 10px;
	flex-grow: 1;
}

.notification code.block,
.notification pre > code {
	max-height: 300px;
	font-size: 12px;
}

.notif-when {
	font-size: 12px;
	color: #555;
	margin-bottom: 5px;
}

.notif-headline {
	font-weight: bold;
}

.notif-body {
	display: none;
	margin-top: 1rem;
	cursor: text;
}

.notif-dismiss,
.notif-expand {
	background: #EFEFEF;
	color: #AAA;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.notif-expand {
	width: 75px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-left: none;
}

.notif-dismiss {
	cursor: pointer;
	width: 50px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border-right: none;
}

.notif-dismiss:hover {
	color: #ff0000;
	background: #ffcece;
}
