localhost

ext .html
templates
errors visible

redir 307 {
	/account /account/dashboard
	/login   /account/login
}

proxy /api       localhost:2016
proxy /account   localhost:2016
proxy /download/ localhost:2016
proxy /stripe    localhost:5051

header / {
	Content-Security-Policy "style-src 'self'; script-src https://www.google-analytics 'self' data: blob: https:; img-src 'self' data: https:; font-src 'self' https: data: blob:; media-src 'self' https: data: blob:; connect-src 'self' https:; object-src 'none';"
	X-Frame-Options        SAMEORIGIN
	X-Content-Type-Options nosniff
	X-XSS-Protection       "1; mode=block"
}
