<aside>
	<nav>
		{{ $path := .Replace .Req.URL.Path ".html" "" }}
		{{ $href := "/tutorial" }}<a href="{{$href}}"{{if eq $path $href}} class="current"{{end}}>Quick Start</a>
		{{ $href := "/tutorial/beginner" }}<a href="{{$href}}"{{if eq $path $href}} class="current"{{end}}>Beginner Tutorial</a>
		{{ $href := "/tutorial/caddyfile" }}<a href="{{$href}}"{{if eq $path $href}} class="current"{{end}}>The Caddyfile</a>
		<br>
		{{ $href := "/docs" }}<a href="/docs">&laquo; Back to docs</a>
	</nav>
</aside>