.card-container {
	display: flex;
	flex-wrap: wrap;
}

.card {
	padding: 2rem;
	margin-left: auto;
	margin-right: auto;
	transition: all .25s ease;
	max-width: 600px;
	color: #444;
	display: flex;
}

.card:hover {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.30);
	color: #444;
	transform: translateY(-1px);
}

.card:active {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.30) inset;
	transform: translateY(1px);
	transition: none;
}

.card img {
	max-width: 110px;
	margin-right: 2rem;
}

.card .title {
	font-size: 2rem;
	color: #357ABA;
	font-weight: bold;
}

.card p {
	margin: 0;
}


.clr-teal { color: #4ED388; }
.clr-coral { color: #F4734E; }
.clr-blue { color: #4383D2; }
.bg-gray { background-color: #F5F5F5; }
.text-center { text-align: center; }


.other-help-container {
	display: flex;
	flex-wrap: wrap;
}

.other-help {
	padding: 1rem;
	flex-grow: 1;
	width: 33.33%;
}

.other-help img {
	height: 150px;
	margin: 1rem auto;
	display: block;
}

.other-help h3 {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: bold;
	text-align: center;
	margin: 1rem auto;
	font-size: 1.75rem;
}

.other-help .button {
	margin: 0 auto;
}

.button.teal { background-color: #4ED388; color: #FFF; }
.button.coral { background-color: #F4734E; color: #FFF; }
.button.blue { background-color: #4383D2; color: #FFF; }



main {
	display: flex;
}

main aside {
	margin-top: 1rem;
}

main aside nav a {
	display: block;
	line-height: 2.5rem;
	color: #888;
	font-size: 1.2rem;
}

main aside nav a:hover {
	color: #666;
}

main aside nav a.current {
	color: black;
	font-weight: 600;
}

article {
	margin: 0 auto;
	max-width: 700px;
	width: 100%;
}

article p,
article li {
	font-size: 1.1rem;
	line-height: 1.7rem;
}

.note {
	padding: 1rem;
	border: 2px solid #dff2f7;
	border-top-width: 10px;
	margin: 1rem auto;
	line-height: 1.5rem;
}

.note .title {
	display: inline;
	font-weight: bold;
	margin-right: .5rem;
}

pre,
code {
	overflow-x: auto;
}

code {
	font-family: "Monaco", "Menlo", monospace;
	font-size: .9rem;
	padding: 2px 4px;
	background-color: #DFF2F7;
	color: #444;
	white-space: pre;
}

code.block {
	display: block;
	padding: 1rem;
	margin: 1rem auto;
	font-size: 1rem;
	line-height: 1.5rem;
	tab-size: 4;
}

code.cmd {
	font-family: "Source Code Pro", "Monaco", "Menlo", monospace;
	background-color: #333;
	color: #EAEAEA;
	font-size: 1rem;
}
code.block.cmd {
	padding: .5rem 1rem;
}

code.cmd.bash::before {
	content: '$';
	margin-right: .5rem;
}

h5 {
	text-transform: uppercase;
	margin-left: 2rem;
}

@media (max-width: 900px) {
	.other-help {
		width: 100%;
	}
}