header {
	background: linear-gradient(0deg, #73deca 0%, #0093C5 100%);
}

.loading {
	text-align: center;
	padding: 50px 25px;
}

.customizer {
	/*display: none;*/
	display: flex;
	/*border-bottom: 1px solid #AAA;*/
}

.plugins-container {
	width: 66.66%;
	display: flex;
}

.plugin-list {
	width: 33.33%;
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
}

.plugin-list-header {
	background: #333;
	color: #FFF;
	padding: 5px;
	font-weight: bold;
}

.plugin-howto {
	color: #DDD;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	margin-left: 10px;
}

.plugin-howto:hover {
	color: #FFF;
	text-decoration: underline;
}

.plugin-type > div,
.plugin-type > label,
.plugin-list-header {
	padding: 10px 15px;
	display: block;
	border-bottom: 1px solid #DDD;
}

.plugin-list .plugin-type-header {
	background: #DDD;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.plugin-list .plugin-type-description {
	font-size: 12px;
	text-transform: none;
	letter-spacing: normal;
	color: #777;
}

.plugin-list .plugin {
	cursor: pointer;
	font-size: 16px;
	border-bottom: 1px solid #DDD;
}

.plugin-list .plugin:hover {
	background-color: #F5F5F5;
}

.plugin-list .plugin input[type=checkbox] {
	margin-right: 8px;
	font-size: 16px;
}

.plugin-info,
.donate,
.shortcut {
	padding: 20px;
}

.plugin-info {
	width: 66.66%;
}

.plugin-info h2 {
	color: black;
	margin: 0;
	margin-bottom: 5px;
	text-align: left;
}

.plugin-info .plugin-subtitle {
	font-style: italic;
	margin-bottom: 40px;
}

.plugin-info table {
	border-collapse: collapse;
	margin: 50px auto 10px;
	width: 100%;
}

.plugin-info table td {
	padding: 5px 0;
}

.plugin-info p {
	font-size: 16px;
	line-height: 1.7em;
	margin-bottom: 1.5em;
}

#instructions {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.download-pane {
	width: 33.33%;
}

.donate {
	background: #e4ffe4;
	display: none;
}

.donate p {
	font-weight: bold;
}

.donate h2 {
	color: #3b983b;
	margin: 0 auto 10px;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
}

.donate .donate-inputs {
	text-align: center;
	padding-top: 20px;
}

#amount,
.donate .dollar-label {
	font-family: monospace;
	font-size: 18px;
	font-weight: bold;
}

#amount {
	padding: 10px 10px 10px 1.25em;
	width: 110px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.donate .dollar-label {
	position: relative;
	left: 20px;
}

.help {
	background-color: #565656;
	color: #FFF;
	margin-left: 4px;
	padding: 0 5px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 20px;
	font-size: 12px;
}

.help:hover {
	background-color: #000;
}

#donate {
	color: #1fb91f;
	border-radius: 8px 1px 8px 1px;
	border: 2px solid #1fb91f;
	background: #FFF;
	font-weight: bold;
	padding: 12px 20px;
	margin-left: 5px;
	top: -2px;
	transition: all .2s;
	outline: none;
}

#donate:hover {
	box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}

#donate:active {
	top: 0px;
	color: #FFF;
	background: #1fb91f;
	border-color: #FFF;
}

#amount-feedback {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 14px;
	min-height: 1.5em;
}

#payment-success {
	max-width: 600px;
	margin: 0 auto;
	background: #00A929;
	padding: 15px;
	display: none;
}

#payment-success h5,
#payment-success p {
	text-align: center;
	color: #FFF;
	font-size: 14px;
	max-width: none;
}

#payment-success h5 {
	font-size: 18px;
}

#payments-down {
	text-align: center;
	font-style: italic;
	color: #CA0000;
	display: none;
	margin: 10px auto;
}



#platform {
	display: block;
	margin: 30px auto;
	font-size: 16px;
}

#download, #signature {
	display: block;
	width: 90%;
	max-width: 250px;
	margin: 20px auto 0;
}

#download {
	font-size: 20px;
}

#signature {
	max-width: 225px;
	font-size: 14px;
	padding: 5px;
	margin-bottom: 20px;
}

#download:disabled,
#download.disabled,
#signature:disabled,
#signature.disabled {
	background-color: #5e6e74;
	cursor: wait;
	color: #b1b1b1;
}

#version {
	text-align: center;
	font-size: 12px;
}


.shortcut {
	border-bottom: 1px solid #AAA;
	font-size: 16px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #F3F3F3;
}

.shortcut p {
	color: #444;
	margin-bottom: 1em;
}

#direct-link,
#bash {
	max-width: 650px;
	margin: auto;
	padding: 10px;
}

#direct-link {
	font-weight: bold;
	font-family: monospace;
	color: #333;
	text-decoration: none;
	background-color: #DADADA;
	white-space: nowrap;
	overflow: auto;
}

#bash {
	display: block;
	font-weight: bold;
	color: #EEE;
	background-color: #333;
	white-space: nowrap;
	overflow: auto;
}




.loader {
	display: inline-block;
	font-size: 10px;
	text-indent: -9999em;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ffffff;
	background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
#signature .loader {
	width: 12px;
	height: 12px;
}
.loader:before {
	width: 50%;
	height: 50%;
	background: #ffffff;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.loader:after {
	background: #5e6e74;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

