{{ $pl := .Context "plugin" }}
{{ $title := printf "%s Details" $pl.Name }}
{{.Include "/account/includes/header.html" $title}}

<main>
	<h1>Plugin Details</h1>

	<h2>{{$pl.Name}}</h2>

	<table class="key-value-pairs">
		<tr>
			<th>Plugin ID</th>
			<td>{{$pl.ID}}</td>
		</tr>
		<tr>
			<th>Type</th>
			<td>{{$pl.Type.Name}}</td>
		</tr>
		<tr>
			<th>Publish Date</th>
			<td>{{$pl.Published}}</td>
		</tr>
		<tr>
			<th>Last Updated</th>
			<td>{{$pl.Updated}}</td>
		</tr>
	</table>

	<a href="/account/plugin/{{$pl.ID}}/edit">Edit Plugin</a>

	<table class="key-value-pairs">
		<tr>
			<th>Package</th>
			<td class="wrap">{{$pl.ImportPath}}</td>
		</tr>
		<tr>
			<th>Clone URL</th>
			<td class="wrap">{{$pl.SourceRepo}}</td>
		</tr>
		<tr>
			<th>Release Branch</th>
			<td>{{$pl.ReleaseBranch}}</td>
		</tr>
	</table>

	<table class="key-value-pairs">
		<tr>
			<th>Description</th>
			<td>{{$pl.Description}}</td>
		</tr>
		<tr>
			<th>Website</th>
			<td class="wrap">{{$pl.Website}}</td>
		</tr>
		<tr>
			<th>Support Link</th>
			<td class="wrap">{{$pl.Support}}</td>
		</tr>
		<tr>
			<th>Docs Link</th>
			<td class="wrap">{{$pl.Docs}}</td>
		</tr>
		<tr>
			<th>Examples</th>
			<td>
				{{range $ex := $pl.Examples}}
					<b>{{$ex.Title}}</b>
					<br>
					<code class="block">{{$ex.Code}}</code>
					{{$ex.Explanation}}
					<br><br>
				{{end}}
			</td>
		</tr>
	</table>

	<a href="/account/plugin/{{$pl.ID}}/deploy">New Deploy</a>

	<h3>Releases</h3>

	<table class="key-value-pairs">
	<tr>
		<th>Timestamp</th>
		<th>Plugin Version</th>
		<th>Caddy Version</th>
		<th>Tested Platforms</th>
	</tr>
	{{range $rel := $pl.NewestReleases}}
		<tr>
			<td>{{$rel.Timestamp}}</td>
			<td class="wrap">{{$rel.Version}}</td>
			<td>{{$rel.CaddyVersion}}</td>
			<td>(TODO)</td>
		</tr>
	{{end}}
	</table>

</main>
{{.Include "/account/includes/footer.html"}}